<mat-card>
  <mat-horizontal-stepper linear="isLinear" #stepper>
    <mat-step stepControl="firstFormGroup" *ngFor="let customiseKey of getKeys(customise)">
      <ng-template matStepLabel>Select Shades</ng-template>
      <!--  -->

      <mat-card-content *ngFor="let item of getKeys(customise[customiseKey])">
        <p> {{customise[customiseKey] | json}}</p>
        <mcc-color-picker
          [selectedColor]="customise[customiseKey][item]"
          (selected)="onSelectedShades(customiseKey, item, $event)"
          usedColorStart="startingColors"
          hideHexForms="true"
        >
        </mcc-color-picker>
        <pre>{{ i }}</pre>
        <p [style.color]="onSelectedShades">
          <!-- {{ this.valueSetting[0].start.shades.colour_1 }} --> 
        </p>
      </mat-card-content>

      <!--  -->
      <div>
        <button mat-button matStepperNext>Next</button>
      </div>
      <!--  -->
    </mat-step>

    <mat-step stepControl="secondFormGroup">
      <ng-template matStepLabel>Start Button Colours</ng-template>
      <!--  -->

      <mat-card-content>
        <mat-card-title>Start Button Colour One</mat-card-title>
        <mcc-color-picker
          (selected)="onSelectedStartBorderOne(item, $event)"
          usedColorStart="startingColors"
          hideHexForms="true"
        >
        </mcc-color-picker>
        <p
          [style.color]="
            this.valueSetting[0].start.start_button.border_1_colour
          "
        >
          {{ this.valueSetting[0].start.start_button.border_1_colour }}
        </p>
      </mat-card-content>

      <!--  -->
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </mat-step>

    <mat-step stepControl="thirdFormGroup">
      <ng-template matStepLabel>Select Button Pressed Colours</ng-template>
      <!--  -->
      <mat-card-content>
        <mat-card-title>Pressed Border Colour One</mat-card-title>
        <mcc-color-picker
          (selected)="onSelectedPressedBorderOne($event)"
          usedColorStart="startingColors"
          hideHexForms="true"
        >
        </mcc-color-picker>
        <p
          [style.color]="
            this.valueSetting[0].start.start_button.pressed.border_1_colour
          "
        >
          {{ this.valueSetting[0].start.start_button.pressed.border_1_colour }}
        </p>
      </mat-card-content>
      <mat-card-content>
        <mat-card-title>Pressed Border Colour Two</mat-card-title>
        <mcc-color-picker
          (selected)="onSelectedPressedBorderTwo($event)"
          usedColorStart="startingColors"
          hideHexForms="true"
        >
        </mcc-color-picker>
        <p
          [style.color]="
            this.valueSetting[0].start.start_button.pressed.border_2_colour
          "
        >
          {{ this.valueSetting[0].start.start_button.pressed.border_2_colour }}
        </p>
      </mat-card-content>
      <mat-card-content>
        <mat-card-title>Pressed Border Colour Three</mat-card-title>
        <mcc-color-picker
          (selected)="onSelectedPressedBorderThree($event)"
          usedColorStart="startingColors"
          hideHexForms="true"
        >
        </mcc-color-picker>
        <p
          [style.color]="
            this.valueSetting[0].start.start_button.pressed.border_3_colour
          "
        >
          {{ this.valueSetting[0].start.start_button.pressed.border_3_colour }}
        </p>
      </mat-card-content>
      <mat-card-content>
        <mat-card-title>Pressed Fill Colour</mat-card-title>
        <mcc-color-picker
          (selected)="onSelectedPressedFill($event)"
          usedColorStart="startingColors"
          hideHexForms="true"
        >
        </mcc-color-picker>
        <p
          [style.color]="
            this.valueSetting[0].start.start_button.pressed.fill_colour
          "
        >
          {{ this.valueSetting[0].start.start_button.pressed.fill_colour }}
        </p>
      </mat-card-content>
      <mat-card-content>
        <mat-card-title>Pressed Text Colour</mat-card-title>
        <mcc-color-picker
          (selected)="onSelectedPressedText($event)"
          usedColorStart="startingColors"
          hideHexForms="true"
        >
        </mcc-color-picker>
        <p
          [style.color]="
            this.valueSetting[0].start.start_button.pressed.text_colour
          "
        >
          {{ this.valueSetting[0].start.start_button.pressed.text_colour }}
        </p>
      </mat-card-content>
      <!--  -->
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </mat-step>

    <mat-step>
      <ng-template matStepLabel>Done</ng-template>
      You are now done.
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button (click)="onSave()">Save</button>
      </div>
    </mat-step>
  </mat-horizontal-stepper>
</mat-card>
 
<p>something</p>

<div *ngFor="let item of shadedColoursArray; index as i">
   {{ i + 1 }} __ in the array
</div>