<mat-form-field>
  <mat-select placeholder="Favorite food">
    <mat-option *ngFor="let food of foods" [value]="food.value">
      {{ food.viewValue }}
    </mat-option>
  </mat-select>
</mat-form-field>
<br />
<br />
<br />

<mat-card>
  <mat-card-title>
    Show used color in reverse
  </mat-card-title>
  <mat-card-content>
    <mcc-color-picker
      isOpen="false"
      [usedColorStart]="startingColors"
      usedColorLabel="List of Colors"
      usedSizeColors="20"
      (selected)="onSelected($event)"
      (clickOut)="onClickOut($event)"
    >
    </mcc-color-picker>
  </mat-card-content>
</mat-card>

<div>
  <ul>
    <li *ngFor="let color of userSelectedColorsArray; let i = index">
      <!-- <div style="width: 20px; height:20px; background-color: aquamarine ">
        {{ color }}
      </div> -->
      <div
        [style.backgroundColor]="color"
        style="width:110px; height: 20px; color: beige"
      >
        {{ color }} {{ i }}
      </div>
    </li>
  </ul>
</div>

<!-- working with stepppers -->
<!-- 
<button mat-raised-button (click)="isLinear = !isLinear" id="toggle-linear">
  {{ !isLinear ? "Enable linear mode" : "Disable linear mode" }}
</button>
<mat-horizontal-stepper linear="isLinear" #stepper>
  <mat-step stepControl="firstFormGroup">
    <form formGroup="firstFormGroup">
      <ng-template matStepLabel>Select a Inital Color</ng-template>
      <mat-form-field>
        <input
          matInput
          placeholder="Last name, First name"
          formControlName="firstCtrl"
          required
        />
      </mat-form-field>
      <div>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step stepControl="secondFormGroup">
    <form formGroup="secondFormGroup">
      <ng-template matStepLabel>Fill out your address</ng-template>
      <mat-form-field>
        <input
          matInput
          placeholder="Address"
          formControlName="secondCtrl"
          required
        />
      </mat-form-field>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Done</ng-template>
    You are now done.
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button (click)="stepper.reset()">Reset</button>
    </div>
  </mat-step>
</mat-horizontal-stepper> -->

<!-- modified stepper -->

<mat-card>
  <mat-horizontal-stepper linear="isLinear" #stepper>
    <mat-step stepControl="firstFormGroup">
      <form formGroup="firstFormGroup">
        <ng-template matStepLabel>Select Shades</ng-template>
        <!--  -->
        <mat-card-content>
          <mat-card-title>Shades One</mat-card-title>
          <mcc-color-picker
            isOpen="false"
            usedColorLabel="List of Colors"
            usedSizeColors="3"
            (selected)="onSelectedShadesOne($event)"
          >
          </mcc-color-picker>
        </mat-card-content>
        <mat-card-content>
          <mat-card-title>Shades Two</mat-card-title>
          <mcc-color-picker
            isOpen="false"
            usedColorLabel="List of Colors"
            usedSizeColors="3"
            (selected)="onSelectedShadesTwo($event)"
          >
          </mcc-color-picker>
        </mat-card-content>
        <mat-card-content>
          <mat-card-title>Shades Three</mat-card-title>
          <mcc-color-picker
            isOpen="false"
            usedColorLabel="List of Colors"
            usedSizeColors="3"
            (selected)="onSelectedShadesThree($event)"
          >
          </mcc-color-picker>
        </mat-card-content>
        <!--  -->
        <div>
          <!-- list of colors -->
          <ul>
            <li *ngFor="let color of userShadeValues; let i = index">
              <!-- <div style="width: 20px; height:20px; background-color: aquamarine ">
                  {{ color }}
                </div> -->
              <div
                [style.backgroundColor]="color"
                style="width:110px; height: 20px; color: beige"
              >
                {{ color }} {{ i }}
              </div>
            </li>
          </ul>
        </div>
        <!--  -->
        <div>
          <button mat-button matStepperNext>Next</button>
        </div>
        <!--  -->
      </form>
    </mat-step>
    <mat-step stepControl="secondFormGroup">
      <form formGroup="secondFormGroup">
        <ng-template matStepLabel>Fill out your address</ng-template>
        <mat-form-field>
          <input
            matInput
            placeholder="Address"
            formControlName="secondCtrl"
            required
          />
        </mat-form-field>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Done</ng-template>
      You are now done.
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button (click)="stepper.reset()">Reset</button>
      </div>
    </mat-step>
  </mat-horizontal-stepper>
</mat-card>
