<mat-form-field>
  <mat-select placeholder="Favorite food">
    <mat-option *ngFor="let food of foods" [value]="food.value">
      {{ food.viewValue }}
    </mat-option>
  </mat-select>
</mat-form-field>
<br />
<br />
<br />

<mat-card>
  <mat-card-title>
    Show used color in reverse
  </mat-card-title>
  <mat-card-content>
    <mcc-color-picker
      isOpen="false"
      [usedColorStart]="startingColors"
      usedColorLabel="List of Colors"
      usedSizeColors="20"
      (selected)="onSelected($event)"
      (clickOut)="onClickOut($event)"
    >
    </mcc-color-picker>
  </mat-card-content>
</mat-card>

<div>
  <ul>
    <li *ngFor="let color of userSelectedColorsArray; let i = index">
      <!-- <div style="width: 20px; height:20px; background-color: aquamarine ">
        {{ color }}
      </div> -->
      <div
        [style.backgroundColor]="color"
        style="width:110px; height: 20px; color: beige"
      >
        {{ color }} {{ i }}
      </div>
    </li>
  </ul>
</div>

<!-- modified stepper -->

<mat-card>
  <mat-horizontal-stepper linear="isLinear" #stepper>
    <mat-step stepControl="firstFormGroup">
        <ng-template matStepLabel>Select Shades</ng-template>
        <!--  -->
        <mat-card-content>
          <mat-card-title>Shades One</mat-card-title>
          <mcc-color-picker
            (selected)="onSelectedShadesOne($event)"
            usedColorStart="startingColors"
            hideHexForms="true"
          >
          </mcc-color-picker>
          <p [style.color]="this.valueSetting[0].start.shades.colour_1">{{ this.valueSetting[0].start.shades.colour_1 }}</p>
        </mat-card-content>
        <mat-card-content>
          <mat-card-title>Shades Two</mat-card-title>
          <mcc-color-picker
            (selected)="onSelectedShadesTwo($event)"
            usedColorStart="startingColors"
            hideHexForms="true"
          >
          </mcc-color-picker>
          <p [style.color]="this.valueSetting[0].start.shades.colour_2">{{ this.valueSetting[0].start.shades.colour_2 }}</p>
        </mat-card-content>
        <mat-card-content>
          <mat-card-title>Shades Three</mat-card-title>
          <mcc-color-picker
            (selected)="onSelectedShadesThree($event)"
            usedColorStart="startingColors"
            hideHexForms="true"
          >
          </mcc-color-picker>
          <p [style.color]="this.valueSetting[0].start.shades.colour_3">{{ this.valueSetting[0].start.shades.colour_3 }}</p>
        </mat-card-content>
        <!--  -->
        <div>
          <button mat-button matStepperNext>Next</button>
        </div>
        <!--  -->
    </mat-step>

    <mat-step stepControl="secondFormGroup">
        <ng-template matStepLabel>Start Button Colours</ng-template>
        <!--  -->
        <mat-card-content>
          <mat-card-title>Start Button Colour One</mat-card-title>
          <mcc-color-picker
            (selected)="onSelectedStartBorderOne($event)"
            usedColorStart="startingColors"
            hideHexForms="true"
          >
          </mcc-color-picker>
          <p [style.color]="this.valueSetting[0].start.start_button.border_1_colour">{{ this.valueSetting[0].start.start_button.border_1_colour }}</p>
        </mat-card-content>
        <mat-card-content>
          <mat-card-title>Start Button Colour Two</mat-card-title>
          <mcc-color-picker
            (selected)="onSelectedStartBorderTwo($event)"
            usedColorStart="startingColors"
            hideHexForms="true"
          >
          </mcc-color-picker>
          <p [style.color]="this.valueSetting[0].start.start_button.border_2_colour">{{ this.valueSetting[0].start.start_button.border_2_colour }}</p>
        </mat-card-content>
        <mat-card-content>
          <mat-card-title>Start Button Colour Three</mat-card-title>
          <mcc-color-picker
            (selected)="onSelectedStartBorderThree($event)"
            usedColorStart="startingColors"
            hideHexForms="true"
          >
          </mcc-color-picker>
          <p [style.color]="this.valueSetting[0].start.start_button.border_3_colour">{{ this.valueSetting[0].start.start_button.border_3_colour }}</p>
        </mat-card-content>
        <mat-card-content>
          <mat-card-title>Start Button Fill Colour</mat-card-title>
          <mcc-color-picker
            (selected)="onSelectedStartFill($event)"
            usedColorStart="startingColors"
            hideHexForms="true"
          >
          </mcc-color-picker>
          <p [style.color]="this.valueSetting[0].start.start_button.fill_colour">{{ this.valueSetting[0].start.start_button.fill_colour }}</p>
        </mat-card-content>
        <mat-card-content>
          <mat-card-title>Start Button Text Colour</mat-card-title>
          <mcc-color-picker
            (selected)="onSelectedStartText($event)"
            usedColorStart="startingColors"
            hideHexForms="true"
          >
          </mcc-color-picker>
          <p [style.color]="this.valueSetting[0].start.start_button.text_colour">{{ this.valueSetting[0].start.start_button.text_colour }}</p>
        </mat-card-content>
        <!--  -->
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </div>
    </mat-step>

    <mat-step stepControl="thirdFormGroup">
        <ng-template matStepLabel>Select Button Pressed Colours</ng-template>
        <!--  -->
        <mat-card-content>
          <mat-card-title>Pressed Border Colour One</mat-card-title>
          <mcc-color-picker
            (selected)="onSelectedPressedBorderOne($event)"
            usedColorStart="startingColors"
            hideHexForms="true"
          >
          </mcc-color-picker>
          <p [style.color]="this.valueSetting[0].start.start_button.pressed.border_1_colour">{{ this.valueSetting[0].start.start_button.pressed.border_1_colour }}</p>
        </mat-card-content>
        <mat-card-content>
          <mat-card-title>Pressed Border Colour Two</mat-card-title>
          <mcc-color-picker
            (selected)="onSelectedPressedBorderTwo($event)"
            usedColorStart="startingColors"
            hideHexForms="true"
          >
          </mcc-color-picker>
          <p [style.color]="this.valueSetting[0].start.start_button.pressed.border_2_colour">{{ this.valueSetting[0].start.start_button.pressed.border_2_colour }}</p>
        </mat-card-content>
        <mat-card-content>
          <mat-card-title>Pressed Border Colour Three</mat-card-title>
          <mcc-color-picker
            (selected)="onSelectedPressedBorderThree($event)"
            usedColorStart="startingColors"
            hideHexForms="true"
          >
          </mcc-color-picker>
          <p [style.color]="this.valueSetting[0].start.start_button.pressed.border_3_colour">{{ this.valueSetting[0].start.start_button.pressed.border_3_colour }}</p>
        </mat-card-content>
        <mat-card-content>
          <mat-card-title>Pressed Fill Colour</mat-card-title>
          <mcc-color-picker
            (selected)="onSelectedPressedFill($event)"
            usedColorStart="startingColors"
            hideHexForms="true"
          >
          </mcc-color-picker>
          <p [style.color]="this.valueSetting[0].start.start_button.pressed.fill_colour">{{ this.valueSetting[0].start.start_button.pressed.fill_colour }}</p>
        </mat-card-content>
        <mat-card-content>
          <mat-card-title>Pressed Text Colour</mat-card-title>
          <mcc-color-picker
            (selected)="onSelectedPressedText($event)"
            usedColorStart="startingColors"
            hideHexForms="true"
          >
          </mcc-color-picker>
          <p [style.color]="this.valueSetting[0].start.start_button.pressed.text_colour">{{ this.valueSetting[0].start.start_button.pressed.text_colour }}</p>
        </mat-card-content>
        <!--  -->
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </div>
    </mat-step>

    <mat-step>
      <ng-template matStepLabel>Done</ng-template>
      You are now done.
      <div>
        <button mat-button  matStepperPrevious>Back</button>
        <!-- <button mat-button (click)="stepper.reset()">Reset</button> -->
        <button mat-button (click)="onSave()">Save</button>
      </div>
    </mat-step>
  </mat-horizontal-stepper>
</mat-card>
